<% include partials/header %>

<link rel="stylesheet" type="text/css" href="css/home.css">

<div class="container text-center h-100">
	<div class="h-100 row align-items-center">
		<div class="col">
			<h1 class="my-5"><a href="/">Bookface</a></h1>

			<p class="my-5">Have an account? <a href="/login">Log In</a></p>
			<p class="my-5">New User? <a href="/register">Sign Up</a></p>
		</div>
	</div>
</div>


<% include partials/footer %>
